@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Şifre Sıfırlama Sayfası";
}
@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div asp-validation-summary="ModelOnly" class="alert alert-info" role="alert">

            </div>
           @if (TempData["Success"] != null)
            {
                   <div class="col-md-8 mx-auto">
                       <div class="alert alert-success" role="alert">
                           @TempData["Success"]
                       </div>
                   </div>
            }
            <h3>Şifre Sıfırlama Sayfası</h3>
            <form method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">E Posta Adresi</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" asp-for="Email">
                    <span asp-validation-for="Email" style="color:red;"></span>
                </div>


                <button class="btn btn-outline-primary">Şifre Sıfırlama Linkini Gönder</button>
            </form>
        </div>
    </div>
</div>